openapi: 3.1.0
info:
  title: Project Verdify MVP API
  version: "2.0"
  description: >
    REST API for AI-powered greenhouse MVP. HTTPS required for all endpoints. Metric units on wire.
    ETag used for config/plan. Device identity via device_name (verdify-aabbcc).
    Rate limiting applies to telemetry endpoints to prevent DoS attacks.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.verdify.ai/api/v1
tags:
  - name: Authentication
    description: User and device authentication endpoints including registration, login, and token management
  - name: Onboarding
    description: Device discovery, claiming, and initial setup endpoints
  - name: Config
    description: Configuration management including publishing, fetching, and diff operations
  - name: Plan
    description: Cultivation plan management and retrieval
  - name: Telemetry
    description: Device telemetry ingestion endpoints for sensors, actuators, status, and inputs
  - name: CRUD
    description: Create, read, update, delete operations for resources like greenhouses, controllers, sensors, actuators
  - name: Meta
    description: Health and metadata endpoints
security:
  - UserJWT: []
paths:
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register new user account
      operationId: registerUser
      security: []
      parameters:
        - $ref: '#/components/parameters/CSRFTokenParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserRegisterRequest' }
            examples:
              ex:
                value:
                  email: "user@example.com"
                  password: "secure_password"
                  full_name: "John Doe"
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserRegisterResponse' }
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /auth/login:
    post:
      operationId: loginUser
      tags: [Authentication]
      summary: Login and obtain JWT
      security: []
      parameters:
        - $ref: '#/components/parameters/CSRFTokenParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserLoginRequest' }
            examples:
              ex:
                value:
                  email: "user@example.com"
                  password: "secure_password"
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserLoginResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/csrf:
    get:
      operationId: getCsrfToken
      tags: [Authentication]
      summary: Get CSRF token for browser-based authentication
      security: []
      responses:
        '200':
          description: CSRF token generated
          content:
            application/json:
              schema:
                type: object
                required: [csrf_token, expires_at]
                properties:
                  csrf_token:
                    type: string
                    description: CSRF token for use in X-CSRF-Token header
                  expires_at:
                    type: string
                    format: date-time
                    description: UTC timestamp when CSRF token expires
              examples:
                ex:
                  value:
                    csrf_token: "csrf_1234567890abcdef"
                    expires_at: "2025-08-13T19:05:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'

  /auth/revoke-token:
    post:
      operationId: revokeUserToken
      tags: [Authentication]
      summary: Revoke current user JWT (logout)
      security:
        - UserJWT: []
      responses:
        '204':
          description: Token successfully revoked
        '401':
          $ref: '#/components/responses/Unauthorized'

  /controllers/{controller_id}/revoke-token:
    post:
      operationId: revokeControllerToken
      tags: [Authentication]
      summary: Revoke device token for controller (admin)
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ControllerIdParam'
      responses:
        '204':
          description: Device token successfully revoked
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /controllers/{controller_id}/rotate-token:
    post:
      operationId: rotateControllerToken
      tags: [Authentication]
      summary: Rotate device token for controller
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ControllerIdParam'
      responses:
        '200':
          description: New device token generated
          content:
            application/json:
              schema:
                type: object
                required: [device_token, expires_at]
                properties:
                  device_token: { type: string }
                  expires_at: { type: string, format: date-time }
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # User Management CRUD
  /users:
    get:
      operationId: listUsers
      tags: [Authentication]
      summary: List users
      description: Retrieve users with pagination and filtering (admin only)
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

    post:
      operationId: createUser
      tags: [Authentication]
      summary: Create user (admin)
      description: Create new user without the need to be logged in (admin only)
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserCreate' }
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserPublic' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }

  /users/{user_id}:
    get:
      operationId: getUser
      tags: [Authentication]
      summary: Get user by ID
      description: Get a specific user by id (admin only)
      security:
        - UserJWT: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: User retrieved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserPublic' }
        '404': { $ref: '#/components/responses/NotFound' }

    patch:
      operationId: updateUser
      tags: [Authentication]
      summary: Update user
      description: Update a user (admin only)
      security:
        - UserJWT: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserUpdate' }
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserPublic' }
        '404': { $ref: '#/components/responses/NotFound' }

    delete:
      operationId: deleteUser
      tags: [Authentication]
      summary: Delete user
      description: Delete a user (admin only)
      security:
        - UserJWT: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: User deleted
        '404': { $ref: '#/components/responses/NotFound' }

  /users/me:
    get:
      operationId: getCurrentUser
      tags: [Authentication]
      summary: Get current user
      description: Get current user profile
      security:
        - UserJWT: []
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserPublic' }
        '401': { $ref: '#/components/responses/Unauthorized' }

    patch:
      operationId: updateCurrentUser
      tags: [Authentication]
      summary: Update current user
      description: Update own user profile
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserUpdate' }
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserPublic' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

    delete:
      operationId: deleteCurrentUser
      tags: [Authentication]
      summary: Delete current user
      description: Delete own user account
      security:
        - UserJWT: []
      responses:
        '204':
          description: User deleted
        '401': { $ref: '#/components/responses/Unauthorized' }

  /users/me/password:
    patch:
      operationId: updateCurrentUserPassword
      tags: [Authentication]
      summary: Update current user password
      description: Update own password
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PasswordUpdate' }
      responses:
        '200':
          description: Password updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /users/signup:
    post:
      operationId: registerUserPublic
      tags: [Authentication]
      summary: Public user registration
      description: Create new user account (public endpoint)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserRegisterRequest' }
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserPublic' }
        '409': { $ref: '#/components/responses/Conflict' }

  # Enhanced Authentication Endpoints
  /login/access-token:
    post:
      operationId: loginAccessToken
      tags: [Authentication]
      summary: OAuth2 compatible token login
      description: OAuth2 compatible token login, get an access token for future requests
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username: { type: string }
                password: { type: string }
                grant_type: { type: string, default: "password" }
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserLoginResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /login/test-token:
    post:
      operationId: testToken
      tags: [Authentication]
      summary: Test access token
      description: Validate current access token and return user info
      security:
        - UserJWT: []
      responses:
        '200':
          description: Token valid
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserPublic' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /login/password-recovery/{email}:
    post:
      operationId: initiatePasswordRecovery
      tags: [Authentication]
      summary: Initiate password recovery
      description: Send password recovery email to user
      security: []
      parameters:
        - name: email
          in: path
          required: true
          schema: { type: string, format: email }
      responses:
        '200':
          description: Recovery email sent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /login/password-recovery-html-content/{email}:
    post:
      operationId: initiatePasswordRecoveryHtml
      tags: [Authentication]
      summary: Initiate password recovery (HTML content)
      description: Send password recovery email with HTML content to user
      security: []
      parameters:
        - name: email
          in: path
          required: true
          schema: { type: string, format: email }
      responses:
        '200':
          description: Recovery email sent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /login/reset-password:
    post:
      operationId: resetPassword
      tags: [Authentication]
      summary: Reset password
      description: Reset user password using recovery token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PasswordResetRequest' }
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /hello:
    post:
      operationId: announceController
      tags: [Onboarding]
      summary: Controller announces itself on first boot
      security: [] # public (no auth) for hello
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HelloRequest'
            examples:
              ex:
                value:
                  device_name: verdify-a1b2c3
                  claim_code: "123456"
                  hardware_profile: kincony_a16s
                  firmware: "esphome-2025.8"
                  ts_utc: "2025-08-12T18:00:00Z"
      responses:
        '200':
          description: Hello accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HelloResponse'
              examples:
                pending:
                  value:
                    status: pending
                    message: "Waiting for user claim"
                claimed:
                  value:
                    status: claimed
                    controller_uuid: "1b5a0b5f-1d8f-4fc2-9c4d-f1a6a7f9d1a3"
                    greenhouse_id: "9a94a0a7-d039-4d9b-86f2-46b1c7f7942c"
                    message: "Controller already claimed"
        '400':
          $ref: '#/components/responses/BadRequest'
  /controllers/claim:
    post:
      operationId: claimController
      tags: [Onboarding]
      summary: Claim a controller to a greenhouse and issue device_token
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ControllerClaimRequest' }
            examples:
              ex:
                value:
                  device_name: verdify-a1b2c3
                  claim_code: "932611"
                  greenhouse_id: "9a94a0a7-d039-4d9b-86f2-46b1c7f7942c"
      responses:
        '201':
          description: Claimed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ControllerClaimResponse' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /controllers/{controller_id}/token-exchange:
    post:
      operationId: exchangeControllerToken
      tags: [Onboarding]
      summary: One-time exchange of claim_code + device_name for long-lived device_token & initial ETags
      description: |
        Performs a single-use token exchange after /hello indicates status=claimed. Idempotent: a second identical request (after success) returns 200 with same values (no new token) while first successful call returns 201.
      security: [] # public (unauthenticated, guarded by claim_code & freshness)
      parameters:
        - $ref: '#/components/parameters/ControllerIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TokenExchangeRequest' }
            examples:
              ex:
                value:
                  device_name: verdify-a1b2c3
                  claim_code: "123456"
      responses:
        '201':
          description: Token issued (first successful exchange)
          headers:
            ETag-Config:
              description: Strong config ETag the controller should use in If-None-Match on subsequent GET
              schema: { type: string, pattern: '^config:v[0-9]+:[0-9a-f]{8}$' }
            ETag-Plan:
              description: Strong plan ETag the controller should use in If-None-Match on subsequent GET
              schema: { type: string, pattern: '^plan:v[0-9]+:[0-9a-f]{8}$' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenExchangeResponse' }
              examples:
                ex:
                  value:
                    device_token: "eyJhbGciOi..."
                    config_etag: "config:v42:1a2b3c4d"
                    plan_etag: "plan:v17:0f9e8d7c"
                    expires_at: "2025-06-15T10:30:00Z"
        '200':
          description: Idempotent replay (token previously issued)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenExchangeResponse' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /controllers/by-name/{device_name}/config:
    get:
      operationId: getConfigByDeviceName
      tags: [Config]
      summary: Controller fetches materialized config by device_name (ETag supported, gzip compression available)
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/DeviceNameParam'
        - $ref: '#/components/parameters/IfNoneMatch'
        - name: Accept-Encoding
          in: header
          description: Compression preferences
          schema:
            type: string
            enum: [gzip, identity]
            default: identity
          example: gzip
      responses:
        '200':
          description: Config payload
          headers:
            ETag:
              description: "Strong ETag format. Format: config:v<version>:<sha8> (first 8 hex of SHA-256)"
              schema: { type: string, pattern: '^config:v[0-9]+:[0-9a-f]{8}$' }
            Last-Modified:
              schema: { type: string, format: date-time }
            Content-Encoding:
              description: Compression algorithm used (if any)
              schema:
                type: string
                enum: [gzip, identity]
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConfigPayload' }
        '304':
          description: Not Modified
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /controllers/{controller_id}/plan:
    get:
      operationId: getPlanByControllerId
      tags: [Plan]
      summary: Controller fetches current plan (ETag supported)
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/ControllerIdParam'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Plan payload
          headers:
            ETag:
              description: "Strong ETag of canonical JSON excluding volatile fields. Format: plan:v<version>:<sha8>"
              schema: { type: string, pattern: '^plan:v[0-9]+:[0-9a-f]{8}$' }
            Last-Modified:
              schema: { type: string, format: date-time }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlanPayload' }
        '304': { description: Not Modified }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /controllers/me/config:
    get:
      operationId: getMyConfig
      tags: [Config]
      summary: Controller fetches current config for authenticated device (identity inferred from token)
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Configuration payload
          headers:
            ETag:
              description: Strong config ETag config:v<version>:<sha8>
              schema:
                type: string
                pattern: '^config:v[0-9]+:[0-9a-f]{8}$'
            Last-Modified:
              schema: { type: string, format: date-time }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConfigPayload' }
        '304': { description: Not Modified }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /controllers/me/plan:
    get:
      operationId: getMyPlan
      tags: [Plan]
      summary: Controller fetches current plan for authenticated device (identity inferred from token)
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Plan payload
          headers:
            ETag:
              description: Strong plan ETag plan:v<version>:<sha8>
              schema:
                type: string
                pattern: '^plan:v[0-9]+:[0-9a-f]{8}$'
            Last-Modified:
              schema: { type: string, format: date-time }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlanPayload' }
        '304': { description: Not Modified }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /greenhouses/{id}/config/publish:
    post:
      operationId: publishGreenhouseConfig
      tags: [Config]
      summary: Materialize and publish config snapshot for a greenhouse
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/GreenhouseIdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                dry_run: { type: boolean, default: false }
      responses:
        '201':
          description: Published config (new snapshot created)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConfigPublishResult' }
        '200':
          description: Dry-run preview (no snapshot persisted)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConfigPublishResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /greenhouses/{id}/config/diff:
    get:
      operationId: getGreenhouseConfigDiff
      tags: [Config]
      summary: Diff current DB config vs last published snapshot
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/GreenhouseIdParam'
      responses:
        '200':
          description: JSON patch-like diff
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConfigDiff' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  # Telemetry ingest (HTTP only)
  /telemetry/sensors:
    post:
      operationId: ingestSensorTelemetry
      tags: [Telemetry]
      summary: Ingest sensor readings (batch)
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TelemetrySensors' }
      responses:
        '202':
          description: Accepted
          headers:
            X-RateLimit-Limit:
              description: Number of requests allowed per time window
              schema: { type: integer }
            X-RateLimit-Remaining:
              description: Number of requests remaining in current window
              schema: { type: integer }
            X-RateLimit-Reset:
              description: UTC timestamp when rate limit window resets
              schema: { type: integer }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IngestResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /telemetry/actuators:
    post:
      operationId: ingestActuatorTelemetry
      tags: [Telemetry]
      summary: Ingest actuator edge events
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TelemetryActuators' }
      responses:
        '202':
          description: Accepted
          headers:
            X-RateLimit-Limit:
              description: Number of requests allowed per time window
              schema: { type: integer }
            X-RateLimit-Remaining:
              description: Number of requests remaining in current window
              schema: { type: integer }
            X-RateLimit-Reset:
              description: UTC timestamp when rate limit window resets
              schema: { type: integer }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IngestResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /telemetry/status:
    post:
      operationId: ingestStatusTelemetry
      tags: [Telemetry]
      summary: Ingest controller status frames
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TelemetryStatus' }
      responses:
        '202':
          description: Accepted
          headers:
            X-RateLimit-Limit:
              description: Number of requests allowed per time window
              schema: { type: integer }
            X-RateLimit-Remaining:
              description: Number of requests remaining in current window
              schema: { type: integer }
            X-RateLimit-Reset:
              description: UTC timestamp when rate limit window resets
              schema: { type: integer }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IngestResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /telemetry/inputs:
    post:
      operationId: ingestInputTelemetry
      tags: [Telemetry]
      summary: Ingest input/button events
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TelemetryInputs' }
      responses:
        '202':
          description: Accepted
          headers:
            X-RateLimit-Limit:
              description: Number of requests allowed per time window
              schema: { type: integer }
            X-RateLimit-Remaining:
              description: Number of requests remaining in current window
              schema: { type: integer }
            X-RateLimit-Reset:
              description: UTC timestamp when rate limit window resets
              schema: { type: integer }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IngestResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /telemetry/batch:
    post:
      operationId: ingestTelemetryBatch
      tags: [Telemetry]
      summary: Ingest mixed telemetry batch (sensors, actuators, status, inputs) - supports gzip compression
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
        - name: Content-Encoding
          in: header
          description: Request body compression (optional)
          schema:
            type: string
            enum: [gzip, identity]
            default: identity
          example: gzip
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TelemetryBatch' }
            examples:
              comprehensive_batch:
                summary: Complete telemetry batch with all data types
                value:
                  sensors:
                    batch_id: "batch_20250813_180500"
                    ts_utc: "2025-08-13T18:05:00Z"
                    readings:
                      - sensor_id: "550e8400-e29b-41d4-a716-446655440001"
                        kind: "temperature"
                        value: 24.6
                        ts_utc: "2025-08-13T18:05:00Z"
                        scope: "zone"
                        zone_ids: ["550e8400-e29b-41d4-a716-446655440002"]
                      - sensor_id: "550e8400-e29b-41d4-a716-446655440003"
                        kind: "humidity"
                        value: 61.5
                        ts_utc: "2025-08-13T18:05:00Z"
                        scope: "greenhouse"
                  actuators:
                    events:
                      - actuator_id: "550e8400-e29b-41d4-a716-446655440004"
                        ts_utc: "2025-08-13T18:04:45Z"
                        state: true
                        reason: "temp_stage_1"
                  status:
                    ts_utc: "2025-08-13T18:05:00Z"
                    temp_stage: 1
                    humi_stage: 0
                    avg_interior_temp_c: 24.6
                    avg_interior_rh_pct: 61.5
                    plan_version: 17
                  inputs:
                    inputs:
                      - button_kind: "cool"
                        ts_utc: "2025-08-13T18:04:30Z"
                        action: "pressed"
      responses:
        '202':
          description: Accepted
          headers:
            X-RateLimit-Limit:
              description: Number of requests allowed per time window
              schema: { type: integer }
            X-RateLimit-Remaining:
              description: Number of requests remaining in current window
              schema: { type: integer }
            X-RateLimit-Reset:
              description: UTC timestamp when rate limit window resets
              schema: { type: integer }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IngestResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # CRUD — Greenhouse
  /greenhouses:
    get:
      operationId: listGreenhouses
      tags: [CRUD]
      summary: List greenhouses
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List with pagination
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GreenhouseList' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createGreenhouse
      tags: [CRUD]
      summary: Create greenhouse
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GreenhouseCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Greenhouse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }

  /greenhouses/{id}:
    get:
      operationId: getGreenhouse
      tags: [CRUD]
      summary: Get greenhouse
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/GreenhouseIdParam'
      responses:
        '200':
          description: Greenhouse details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Greenhouse' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: updateGreenhouse
      tags: [CRUD]
      summary: Update greenhouse
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/GreenhouseIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GreenhouseUpdate' }
      responses:
        '200':
          description: Greenhouse updated successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Greenhouse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteGreenhouse
      tags: [CRUD]
      summary: Delete greenhouse
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/GreenhouseIdParam'
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # Enhanced Greenhouse Operations
  /greenhouses/{id}/sensors:
    get:
      operationId: listGreenhouseSensors
      tags: [CRUD]
      summary: List greenhouse sensors
      description: List all sensors for a specific greenhouse
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/GreenhouseIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Sensors retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /greenhouses/{id}/unmapped-sensors:
    get:
      operationId: listUnmappedSensors
      tags: [CRUD]
      summary: List unmapped sensors
      description: List all unmapped sensors for a specific greenhouse
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/GreenhouseIdParam'
      responses:
        '200':
          description: Unmapped sensors retrieved
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Sensor' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  # CRUD — Zone
  /zones:
    get:
      operationId: listZones
      tags: [CRUD]
      summary: List zones
      security:
        - UserJWT: []
      parameters:
        - name: greenhouse_id
          in: query
          description: Filter by greenhouse ID
          schema:
            type: string
            format: uuid
        - name: is_active
          in: query
          description: Filter by active status
          schema:
            type: boolean
        - name: sort
          in: query
          description: Sort field and direction
          schema:
            type: string
            enum: [zone_number, title, created_at, -zone_number, -title, -created_at]
            default: zone_number
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List with pagination
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneList' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createZone
      tags: [CRUD]
      summary: Create zone
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneCreate' }
      responses:
        '201':
          description: Zone created successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Zone' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
  /zones/{id}:
    get:
      operationId: getZone
      tags: [CRUD]
      summary: Get zone
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ZoneIdParam'
      responses:
        '200':
          description: Zone details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Zone' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: updateZone
      tags: [CRUD]
      summary: Update zone
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ZoneIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneUpdate' }
      responses:
        '200':
          description: Zone updated successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Zone' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteZone
      tags: [CRUD]
      summary: Delete zone
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ZoneIdParam'
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  # CRUD — Crop / ZoneCrop / Observation
  /crops:
    get:
      operationId: listCrops
      tags: [CRUD]
      summary: List crops
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List of crops with pagination
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CropList' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createCrop
      tags: [CRUD]
      summary: Create crop
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CropCreate' }
      responses:
        '201':
          description: Crop created successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Crop' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /crops/{id}:
    get:
      operationId: getCrop
      tags: [CRUD]
      summary: Get crop
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/CropIdParam'
      responses:
        '200':
          description: Crop details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Crop' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: updateCrop
      tags: [CRUD]
      summary: Update crop
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/CropIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CropUpdate' }
      responses:
        '200':
          description: Crop updated successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Crop' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteCrop
      tags: [CRUD]
      summary: Delete crop
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/CropIdParam'
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /zone-crops:
    get:
      operationId: listZoneCrops
      tags: [CRUD]
      summary: List zone crops (plantings)
      security:
        - UserJWT: []
      parameters:
        - name: zone_id
          in: query
          description: Filter by zone ID
          schema:
            type: string
            format: uuid
        - name: crop_id
          in: query
          description: Filter by crop ID
          schema:
            type: string
            format: uuid
        - name: is_active
          in: query
          description: Filter by active status
          schema:
            type: boolean
        - name: sort
          in: query
          description: Sort field and direction
          schema:
            type: string
            enum: [start_date, end_date, created_at, -start_date, -end_date, -created_at]
            default: -start_date
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List with pagination
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCropList' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createZoneCrop
      tags: [CRUD]
      summary: Start/assign a planting to a zone (enforce 1 active)
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneCropCreate' }
      responses:
        '201':
          description: Zone crop planting created successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCrop' }
        '409': { $ref: '#/components/responses/Conflict' }

  /zone-crops/{id}:
    get:
      operationId: getZoneCrop
      tags: [CRUD]
      summary: Get zone_crop
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ZoneCropIdParam'
      responses:
        '200':
          description: Zone crop planting details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCrop' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateZoneCrop
      tags: [CRUD]
      summary: Update/close planting
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ZoneCropIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneCropUpdate' }
      responses:
        '200':
          description: Zone crop planting updated successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCrop' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # Zone-specific crop management endpoints
  /crops/zones/{zone_id}/zone-crops:
    get:
      operationId: listZoneCropsForZone
      tags: [CRUD]
      summary: List zone crops for specific zone
      security:
        - UserJWT: []
      parameters:
        - name: zone_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Zone crops retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /crops/zones/{zone_id}/zone-crop:
    get:
      operationId: getActiveZoneCrop
      tags: [CRUD]
      summary: Get active zone crop for zone
      security:
        - UserJWT: []
      parameters:
        - name: zone_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Active zone crop retrieved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCrop' }
        '404': { $ref: '#/components/responses/NotFound' }

  /crops/zones/{zone_id}/zone-crops/{zone_crop_id}:
    get:
      operationId: getZoneCropByZone
      tags: [CRUD]
      summary: Get specific zone crop in zone
      security:
        - UserJWT: []
      parameters:
        - name: zone_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: zone_crop_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Zone crop retrieved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCrop' }
        '404': { $ref: '#/components/responses/NotFound' }

  /crops/zones/{zone_id}/observations:
    get:
      operationId: listObservationsForZone
      tags: [CRUD]
      summary: List observations for zone
      security:
        - UserJWT: []
      parameters:
        - name: zone_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Observations retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /crops/zone-crops/{zone_crop_id}/observations:
    get:
      operationId: listObservationsForZoneCrop
      tags: [CRUD]
      summary: List observations for zone crop
      security:
        - UserJWT: []
      parameters:
        - name: zone_crop_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Observations retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /crops/zones/{zone_id}/crop-analytics:
    get:
      operationId: getZoneCropAnalytics
      tags: [CRUD]
      summary: Get crop analytics for zone
      security:
        - UserJWT: []
      parameters:
        - name: zone_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Crop analytics retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  analytics: { type: object }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /observations:
    get:
      operationId: listObservations
      tags: [CRUD]
      summary: List crop observations
      security:
        - UserJWT: []
      parameters:
        - name: zone_crop_id
          in: query
          description: Filter by zone crop ID
          schema:
            type: string
            format: uuid
        - name: zone_id
          in: query
          description: Filter by zone ID
          schema:
            type: string
            format: uuid
        - name: observation_type
          in: query
          description: Filter by observation type
          schema:
            type: string
            enum: [growth, pest, disease, harvest, general]
        - name: sort
          in: query
          description: Sort field and direction
          schema:
            type: string
            enum: [observation_date, created_at, -observation_date, -created_at]
            default: -observation_date
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List with pagination
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCropObservationList' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createObservation
      tags: [CRUD]
      summary: Add crop observation
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneCropObservationCreate' }
      responses:
        '201':
          description: Crop observation created successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCropObservation' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /observations/{id}:
    patch:
      operationId: updateObservation
      tags: [CRUD]
      summary: Update crop observation
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ObservationIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneCropObservationUpdate' }
      responses:
        '200':
          description: Crop observation updated successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCropObservation' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteObservation
      tags: [CRUD]
      summary: Delete crop observation
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ObservationIdParam'
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /observations/{id}/upload-url:
    post:
      operationId: generateObservationUploadUrl
      tags: [CRUD]
      summary: Generate presigned URL for image upload
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ObservationIdParam'
      responses:
        '200':
          description: Upload URL generated
          content:
            application/json:
              schema:
                type: object
                required: [upload_url, expires_in_s]
                properties:
                  upload_url:
                    type: string
                    format: uri
                  expires_in_s:
                    type: integer
                    description: URL expires in seconds
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # CRUD — Controller, Sensor, Mapping, Actuator, Fan Group, Button, State Machine, Plan versions
  /controllers:
    get:
      operationId: listControllers
      tags: [CRUD]
      summary: List controllers
      security:
        - UserJWT: []
      parameters:
        - name: greenhouse_id
          in: query
          description: Filter by greenhouse ID
          schema:
            type: string
            format: uuid
        - name: is_climate_controller
          in: query
          description: Filter by climate controller status
          schema:
            type: boolean
        - name: sort
          in: query
          description: Sort field and direction
          schema:
            type: string
            enum: [device_name, created_at, -device_name, -created_at]
            default: device_name
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List of controllers with pagination
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ControllerList' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createController
      tags: [CRUD]
      summary: Create controller (admin)
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ControllerCreate' }
      responses:
        '201':
          description: Controller created successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Controller' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /controllers/{controller_id}:
    get:
      operationId: getController
      tags: [CRUD]
      summary: Get controller
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ControllerIdParam'
      responses:
        '200':
          description: Controller details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Controller' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: updateController
      tags: [CRUD]
      summary: Update controller (incl. is_climate_controller)
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ControllerIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ControllerUpdate' }
      responses:
        '200':
          description: Controller updated successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Controller' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      operationId: deleteController
      tags: [CRUD]
      summary: Delete controller (revokes device_token)
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ControllerIdParam'
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /sensors:
    get:
      operationId: listSensors
      tags: [CRUD]
      summary: List sensors
      security:
        - UserJWT: []
      parameters:
        - name: kind
          in: query
          description: Filter by sensor kind
          schema:
            $ref: '#/components/schemas/SensorKind'
        - name: controller_id
          in: query
          description: Filter by controller ID
          schema:
            type: string
            format: uuid
        - name: greenhouse_id
          in: query
          description: Filter by greenhouse ID
          schema:
            type: string
            format: uuid
        - name: sort
          in: query
          description: Sort field and direction
          schema:
            type: string
            enum: [name, kind, created_at, -name, -kind, -created_at]
            default: name
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List of sensors with pagination
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SensorList' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createSensor
      tags: [CRUD]
      summary: Create sensor
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SensorCreate' }
      responses:
        '201':
          description: Sensor created successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Sensor' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /sensors/{id}:
    get:
      operationId: getSensor
      tags: [CRUD]
      summary: Get sensor
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/SensorIdParam'
      responses:
        '200':
          description: Sensor details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Sensor' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: updateSensor
      tags: [CRUD]
      summary: Update sensor
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/SensorIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SensorUpdate' }
      responses:
        '200':
          description: Sensor updated successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Sensor' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /sensor-zone-maps:
    post:
      operationId: createSensorZoneMap
      tags: [CRUD]
      summary: Map a sensor to a zone (multi-zone supported)
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SensorZoneMapCreate' }
      responses:
        '201':
          description: Sensor zone mapping created successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SensorZoneMap' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      operationId: deleteSensorZoneMap
      tags: [CRUD]
      summary: Unmap a sensor from a zone
      security:
        - UserJWT: []
      parameters:
        - in: query
          name: sensor_id
          schema: { type: string, format: uuid }
          required: true
        - in: query
          name: zone_id
          schema: { type: string, format: uuid }
          required: true
        - in: query
          name: kind
          schema: { $ref: '#/components/schemas/SensorKind' }
          required: true
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /actuators:
    get:
      operationId: listActuators
      tags: [CRUD]
      summary: List actuators
      security:
        - UserJWT: []
      parameters:
        - name: controller_id
          in: query
          required: false
          schema: { type: string, format: uuid }
          description: Filter by controller ID
      responses:
        '200':
          description: List of actuators
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActuatorList' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createActuator
      tags: [CRUD]
      summary: Create actuator
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActuatorCreate' }
      responses:
        '201':
          description: Actuator created successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Actuator' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /actuators/{id}:
    get:
      operationId: getActuator
      tags: [CRUD]
      summary: Get actuator details
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ActuatorIdParam'
      responses:
        '200':
          description: Actuator details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Actuator' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateActuator
      tags: [CRUD]
      summary: Update actuator
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ActuatorIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActuatorUpdate' }
      responses:
        '200':
          description: Actuator updated successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Actuator' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteActuator
      tags: [CRUD]
      summary: Delete actuator
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ActuatorIdParam'
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /fan-groups:
    get:
      operationId: listFanGroups
      tags: [CRUD]
      summary: List fan groups
      security:
        - UserJWT: []
      parameters:
        - name: controller_id
          in: query
          required: false
          schema: { type: string, format: uuid }
          description: Filter by controller ID
      responses:
        '200':
          description: List of fan groups
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FanGroupList' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createFanGroup
      tags: [CRUD]
      summary: Create fan group
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FanGroupCreate' }
      responses:
        '201':
          description: Fan group created successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FanGroup' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /fan-groups/{id}/members:
    post:
      operationId: addFanGroupMember
      tags: [CRUD]
      summary: Add member actuator to fan group
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/FanGroupIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FanGroupMemberCreate' }
      responses:
        '201':
          description: Fan group member added successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FanGroupMember' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: removeFanGroupMember
      tags: [CRUD]
      summary: Remove member from fan group
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/FanGroupIdParam'
        - in: query
          name: actuator_id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /fan-groups/{id}:
    get:
      operationId: getFanGroup
      tags: [CRUD]
      summary: Get fan group details
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/FanGroupIdParam'
      responses:
        '200':
          description: Fan group details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FanGroup' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteFanGroup
      tags: [CRUD]
      summary: Delete fan group
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/FanGroupIdParam'
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /buttons:
    get:
      operationId: listButtons
      tags: [CRUD]
      summary: List controller buttons
      security:
        - UserJWT: []
      parameters:
        - name: controller_id
          in: query
          required: false
          schema: { type: string, format: uuid }
          description: Filter by controller ID
      responses:
        '200':
          description: List of controller buttons
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ControllerButtonList' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createButton
      tags: [CRUD]
      summary: Configure a controller button (manual override)
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ControllerButtonCreate' }
      responses:
        '201':
          description: Controller button configured successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ControllerButton' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /buttons/{id}:
    get:
      operationId: getButton
      tags: [CRUD]
      summary: Get controller button details
      security:
        - UserJWT: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Controller button details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ControllerButton' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: updateButton
      tags: [CRUD]
      summary: Update controller button
      security:
        - UserJWT: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ControllerButtonUpdate' }
      responses:
        '200':
          description: Controller button updated successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ControllerButton' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteButton
      tags: [CRUD]
      summary: Delete controller button
      security:
        - UserJWT: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /state-machine-rows:
    get:
      operationId: listStateMachineRows
      tags: [CRUD]
      summary: List state machine rows
      security:
        - UserJWT: []
      parameters:
        - name: greenhouse_id
          in: query
          required: false
          schema: { type: string, format: uuid }
          description: Filter by greenhouse ID
      responses:
        '200':
          description: List of state machine rows
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StateMachineRowList' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      operationId: createStateMachineRow
      tags: [CRUD]
      summary: Add/replace a state machine row (49 grid + fallback)
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StateMachineRowCreate' }
      responses:
        '201':
          description: State machine row created successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StateMachineRow' }
        '409': { $ref: '#/components/responses/Conflict' }

  /state-machine-rows/{id}:
    get:
      operationId: getStateMachineRow
      tags: [CRUD]
      summary: Get state machine row details
      security:
        - UserJWT: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: State machine row details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StateMachineRow' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      operationId: updateStateMachineRow
      tags: [CRUD]
      summary: Update state machine row (idempotent)
      security:
        - UserJWT: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StateMachineRowUpdate' }
      responses:
        '200':
          description: State machine row updated successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StateMachineRow' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteStateMachineRow
      tags: [CRUD]
      summary: Delete state machine row
      security:
        - UserJWT: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /state-machine-fallback/{id}:
    put:
      operationId: setStateMachineFallback
      tags: [CRUD]
      summary: Set state machine fallback configuration
      description: Defines fallback actuator states when no state machine rule matches
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/GreenhouseIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StateMachineFallbackUpdate' }
      responses:
        '200':
          description: Fallback configuration updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StateMachineFallback' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /plans:
    get:
      operationId: listPlans
      tags: [Plan]
      summary: List plan versions (read-only)
      security:
        - UserJWT: []
      parameters:
        - in: query
          name: greenhouse_id
          schema: { type: string, format: uuid }
          required: true
        - name: active
          in: query
          description: Filter to active plan only
          schema:
            type: boolean
        - name: sort
          in: query
          description: Sort field and direction
          schema:
            type: string
            enum: [version, created_at, -version, -created_at]
            default: -version
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List of plan versions with pagination
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlanList' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createPlan
      tags: [Plan]
      summary: Create new plan version
      description: Creates a new plan version for a greenhouse. Only one plan can be active at a time.
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PlanCreate' }
      responses:
        '201':
          description: Plan created successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Plan' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }

  # Health & Meta endpoints
  /health:
    get:
      operationId: getHealthStatus
      tags: [Meta]
      summary: Health check endpoint
      description: Returns service health status for load balancers and monitoring
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy]
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                    description: API version
                required: [status, timestamp, version]
                example:
                  status: healthy
                  timestamp: "2025-08-13T18:05:00Z"
                  version: "1.0.0"
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [unhealthy]
                  timestamp:
                    type: string
                    format: date-time
                  error:
                    type: string
                    description: Error description
                required: [status, timestamp]

  /meta/sensor-kinds:
    get:
      operationId: getSensorKinds
      tags: [Meta]
      summary: Get available sensor kinds
      description: Returns list of supported sensor types for device configuration
      security: []
      responses:
        '200':
          description: List of sensor kinds
          content:
            application/json:
              schema:
                type: object
                properties:
                  sensor_kinds:
                    type: array
                    items:
                      $ref: '#/components/schemas/SensorKind'
                required: [sensor_kinds]
                example:
                  sensor_kinds: ["temperature", "humidity", "vpd", "co2", "light", "soil_moisture"]
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          description: Service unavailable (meta service down)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required: [error]

  /meta/actuator-kinds:
    get:
      operationId: getActuatorKinds
      tags: [Meta]
      summary: Get available actuator kinds
      description: Returns list of supported actuator types for device configuration
      security: []
      responses:
        '200':
          description: List of actuator kinds
          content:
            application/json:
              schema:
                type: object
                properties:
                  actuator_kinds:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActuatorKind'
                required: [actuator_kinds]
                example:
                  actuator_kinds: ["fan", "heater", "vent", "fogger", "irrigation_valve", "fertilizer_valve", "pump", "light"]
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          description: Service unavailable (meta service down)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required: [error]

  # Utility & Operations Endpoints
  /utils/health-check:
    get:
      operationId: utilsHealthCheck
      tags: [Meta]
      summary: Extended health check
      description: Comprehensive health check for monitoring systems
      security: []
      responses:
        '200':
          description: System healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  timestamp: { type: string, format: date-time }
                  version: { type: string }
        '503':
          description: Service unavailable

  /utils/test-email:
    post:
      operationId: testEmail
      tags: [Meta]
      summary: Test email system
      description: Send test email to verify email system functionality
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email_to: { type: string, format: email }
                subject: { type: string }
      responses:
        '200':
          description: Test email sent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

components:
  securitySchemes:
    UserJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: User JWT for app/admin calls
    DeviceToken:
      type: apiKey
      in: header
      name: X-Device-Token
      description: Long-lived device token for controllers

  parameters:
    IfNoneMatch:
      in: header
      name: If-None-Match
      schema: { type: string }
      required: false
    GreenhouseIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    ZoneIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    CropIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    ZoneCropIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    ObservationIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    ControllerIdParam:
      in: path
      name: controller_id
      required: true
      schema: { type: string, format: uuid }
    ActuatorIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    SensorIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    FanGroupIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    DeviceNameParam:
      in: path
      name: device_name
      required: true
      schema:
        type: string
        pattern: '^verdify-[0-9a-f]{6}$'
    PageParam:
      in: query
      name: page
      schema: { type: integer, minimum: 1, default: 1 }
    PageSizeParam:
      in: query
      name: page_size
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    CSRFTokenParam:
      in: header
      name: X-CSRF-Token
      required: false
      description: CSRF token for browser-based requests (optional for non-browser clients)
      schema: { type: string }
    IdempotencyKeyParam:
      in: header
      name: Idempotency-Key
      required: false
      description: Idempotency key for exactly-once processing (recommended for telemetry)
      schema: { type: string, maxLength: 255 }

  responses:
    BadRequest:
      description: Bad request
      headers:
        X-Request-Id:
          description: Request identifier for tracing
          schema: { type: string }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
          examples:
            ex:
              value:
                error_code: E400_BAD_REQUEST
                message: "Invalid input"
                timestamp: "2025-08-13T18:05:00Z"
                details:
                  field: "email"
                  reason: "Invalid email format"
                request_id: "req_1234567890abcdef"
    Unauthorized:
      description: Unauthorized
      headers:
        X-Request-Id:
          description: Request identifier for tracing
          schema: { type: string }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
          examples:
            ex:
              value:
                error_code: E401_UNAUTHORIZED
                message: "Missing/invalid token"
                timestamp: "2025-08-13T18:05:00Z"
                request_id: "req_1234567890abcdef"
    NotFound:
      description: Not found
      headers:
        X-Request-Id:
          description: Request identifier for tracing
          schema: { type: string }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
          examples:
            ex:
              value:
                error_code: E404_NOT_FOUND
                message: "Resource not found"
                timestamp: "2025-08-13T18:05:00Z"
                request_id: "req_1234567890"
    Conflict:
      description: Conflict (uniqueness violated)
      headers:
        X-Request-Id:
          description: Request identifier for tracing
          schema: { type: string }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
          examples:
            ex:
              value:
                error_code: E409_CONFLICT
                message: "Unique constraint violated"
                timestamp: "2025-08-13T18:05:00Z"
                request_id: "req_1234567890"
    TooManyRequests:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          description: Number of requests allowed per time window
          schema: { type: integer }
        X-RateLimit-Remaining:
          description: Number of requests remaining in current window
          schema: { type: integer }
        X-RateLimit-Reset:
          description: Epoch seconds when the window resets
          schema: { type: integer }
        Retry-After:
          description: Seconds to wait before retry
          schema: { type: integer }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
          examples:
            ex:
              value:
                error_code: E429_TOO_MANY_REQUESTS
                message: "Rate limit exceeded. Try again in 60 seconds."
                timestamp: "2025-08-13T18:05:00Z"
                request_id: "req_1234567890abcdef"

    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
          examples:
            ex:
              value:
                error_code: E403_FORBIDDEN
                message: "Insufficient permissions"
                timestamp: "2025-08-13T18:05:00Z"
                request_id: "req_1234567890abcdef"

    UnprocessableEntity:
      description: Unprocessable entity - validation failed
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
          examples:
            ex:
              value:
                error_code: E422_UNPROCESSABLE
                message: "Validation failed"
                timestamp: "2025-08-13T18:05:00Z"
                details:
                  - field: "email"
                    value: "invalid-email"
                    expected: "Valid email format"
                request_id: "req_1234567890abcdef"

  schemas:
    # --- Enums / simple types ---
    ErrorCode:
      type: string
      enum:
        - E400_BAD_REQUEST
        - E401_UNAUTHORIZED
        - E403_FORBIDDEN
        - E404_NOT_FOUND
        - E409_CONFLICT
        - E412_PRECONDITION_FAILED
        - E422_UNPROCESSABLE
        - E429_TOO_MANY_REQUESTS
        - E500_INTERNAL
        - E503_SERVICE_UNAVAILABLE
      description: Standardized error codes used across the API
    LocationEnum:
      type: string
      enum: [N, NE, E, SE, S, SW, W, NW]
    SensorKind:
      type: string
      enum:
        - temperature
        - humidity
        - vpd
        - co2
        - light
        - soil_moisture
        - water_flow
        - water_total
        - dew_point
        - absolute_humidity
        - enthalpy_delta
        - air_pressure
        - kwh
        - gas_consumption
        - ppfd
        - wind_speed
        - rainfall
        - power
    SensorScope:
      type: string
      enum: [zone, greenhouse, external]
    ActuatorKind:
      type: string
      enum: [fan, heater, vent, fogger, irrigation_valve, fertilizer_valve, pump, light]
    FailSafeState:
      type: string
      enum: [on, off]
    ButtonKind:
      type: string
      enum: [cool, heat, humid]

    # --- Error response ---
    ErrorResponse:
      type: object
      required: [error_code, message, timestamp, request_id]
      properties:
        error_code:
          $ref: '#/components/schemas/ErrorCode'
          description: Standardized error code
          example: "E409_CONFLICT"
        message:
          type: string
          description: Human-readable error message
          example: "Email already exists"
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the error occurred
        request_id:
          type: string
          description: Unique request identifier for tracing
          example: "req_1234567890"
        details:
          oneOf:
            - type: array
              items: { $ref: '#/components/schemas/ErrorDetail' }
            - type: object
              additionalProperties: true
            - type: string
          description: Structured error details for field-specific issues
          example:
            field: "email"
            value: "user@example.com"

    ErrorDetail:
      type: object
      required: [field, value, expected]
      properties:
        field:
          type: string
          description: Name of the field that caused the error
          example: "email"
        value:
          description: The actual value that was provided
          example: "invalid-email"
        expected:
          type: string
          description: What was expected for this field
          example: "Valid email address"

    # --- Authentication ---
    UserRegisterRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        full_name:
          type: [string, "null"]
    UserRegisterResponse:
      type: object
      required: [user, access_token]
      properties:
        user:
          type: object
          required: [id, email, created_at]
          properties:
            id: { type: string, format: uuid }
            email: { type: string, format: email }
            full_name: { type: [string, "null"] }
            created_at: { type: string, format: date-time }
        access_token:
          type: string
    UserLoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
    UserLoginResponse:
      type: object
      required: [access_token, token_type, expires_in]
      properties:
        access_token:
          type: string
        token_type:
          type: string
          enum: [bearer]
          default: bearer
        expires_in:
          type: integer
          description: Token expiry in seconds

    # Enhanced User Management Schemas
    UserCreate:
      type: object
      required: [email, password, full_name]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
        full_name: { type: string }
        is_active: { type: boolean, default: true }
        is_superuser: { type: boolean, default: false }

    UserUpdate:
      type: object
      properties:
        email: { type: string, format: email }
        full_name: { type: string }
        is_active: { type: boolean }
        is_superuser: { type: boolean }

    UserPublic:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        full_name: { type: string }
        is_active: { type: boolean }
        is_superuser: { type: boolean }
        created_at: { type: string, format: date-time }

    PasswordUpdate:
      type: object
      required: [current_password, new_password]
      properties:
        current_password: { type: string }
        new_password: { type: string, minLength: 8 }

    PasswordResetRequest:
      type: object
      required: [token, new_password]
      properties:
        token: { type: string }
        new_password: { type: string, minLength: 8 }

    Message:
      type: object
      properties:
        message: { type: string }

    # --- Onboarding ---
    HelloRequest:
      type: object
      required: [device_name, claim_code, hardware_profile, firmware, ts_utc]
      properties:
        device_name:
          type: string
          pattern: '^verdify-[0-9a-f]{6}$'
        claim_code:
          type: string
          pattern: '^\d{6}$'
          description: 6 digit numeric claim code printed on label / shown in captive portal
        hardware_profile:
          type: string
          example: kincony_a16s
        firmware:
          type: string
        ts_utc:
          type: string
          format: date-time
    HelloResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [pending, claimed]
        controller_uuid:
          type: [string, "null"]
          format: uuid
        greenhouse_id:
          type: [string, "null"]
          format: uuid
        retry_after_s:
          type: integer
          minimum: 1
          description: Suggested client poll backoff when status=pending
        message:
          type: string
    TokenExchangeRequest:
      type: object
      required: [device_name, claim_code]
      properties:
        device_name:
          type: string
          pattern: '^verdify-[0-9a-f]{6}$'
        claim_code:
          type: string
          pattern: '^\d{6}$'
    TokenExchangeResponse:
      type: object
      required: [device_token, config_etag, plan_etag, expires_at]
      properties:
        device_token:
          type: string
        config_etag:
          type: string
          pattern: '^config:v[0-9]+:[0-9a-f]{8}$'
        plan_etag:
          type: string
          pattern: '^plan:v[0-9]+:[0-9a-f]{8}$'
        expires_at:
          type: string
          format: date-time
          description: UTC timestamp when device token expires (180 days from issue)

    ControllerClaimRequest:
      type: object
      required: [device_name, claim_code, greenhouse_id]
      properties:
        device_name:
          type: string
          pattern: '^verdify-[0-9a-f]{6}$'
        claim_code:
          type: string
          pattern: '^\d{6}$'
        greenhouse_id:
          type: string
          format: uuid
    ControllerClaimResponse:
      type: object
      required: [controller, device_token, expires_at]
      properties:
        controller: { $ref: '#/components/schemas/Controller' }
        device_token:
          type: string
          description: Long-lived token valid until controller deletion
        expires_at:
          type: string
          format: date-time
          description: UTC timestamp when device token expires (180 days from issue)

    # --- Generic pagination schema ---
    Paginated:
      type: object
      required: [data, page, page_size, total]
      properties:
        data:
          type: array
          description: Array of items for current page
        page:
          type: integer
          minimum: 1
          description: Current page number
        page_size:
          type: integer
          minimum: 1
          maximum: 200
          description: Number of items per page
        total:
          type: integer
          minimum: 0
          description: Total number of items across all pages

    # --- CRUD core entities ---
    Greenhouse:
      type: object
      required: [id, title, is_active, min_temp_c, max_temp_c, min_vpd_kpa, max_vpd_kpa]
      properties:
        id: { type: string, format: uuid }
        title: { type: string, minLength: 1, maxLength: 255 }
        description: { type: [string, "null"], maxLength: 255 }
        is_active: { type: boolean, default: true }
[...]
