```yaml
openapi: 3.1.0
info:
  title: Project Verdify MVP API
  version: "2.0"
  description: REST API for AI-powered greenhouse MVP.
servers:
  - url: https://api.verdify.ai/api/v1
tags:
  - name: Authentication
  - name: Onboarding
  - name: Config
  - name: Plan
  - name: Telemetry
  - name: CRUD
  - name: Meta
security:
  - UserJWT: []
paths:
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register new user account
      operationId: registerUser
      security: []
      parameters:
        - $ref: '#/components/parameters/CSRFTokenParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserRegisterRequest' }
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserRegisterResponse' }
        default:
          $ref: '#/components/responses/Error'
  /auth/login:
    post:
      operationId: loginUser
      tags: [Authentication]
      summary: Login and obtain JWT
      security: []
      parameters:
        - $ref: '#/components/parameters/CSRFTokenParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserLoginRequest' }
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserLoginResponse' }
        default:
          $ref: '#/components/responses/Error'
  /auth/csrf:
    get:
      operationId: getCsrfToken
      tags: [Authentication]
      summary: Get CSRF token
      security: []
      responses:
        '200':
          description: CSRF token generated
          content:
            application/json:
              schema:
                type: object
                required: [csrf_token, expires_at]
                properties:
                  csrf_token: { type: string }
                  expires_at: { type: string, format: date-time }
        default:
          $ref: '#/components/responses/Error'
  /auth/revoke-token:
    post:
      operationId: revokeUserToken
      tags: [Authentication]
      summary: Revoke current user JWT
      security:
        - UserJWT: []
      responses:
        '204':
          description: Token successfully revoked
        default:
          $ref: '#/components/responses/Error'
  /controllers/{controller_id}/revoke-token:
    post:
      operationId: revokeControllerToken
      tags: [Authentication]
      summary: Revoke device token for controller
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ControllerIdParam'
      responses:
        '204':
          description: Device token successfully revoked
        default:
          $ref: '#/components/responses/Error'
  /controllers/{controller_id}/rotate-token:
    post:
      operationId: rotateControllerToken
      tags: [Authentication]
      summary: Rotate device token for controller
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ControllerIdParam'
      responses:
        '200':
          description: New device token generated
          content:
            application/json:
              schema:
                type: object
                required: [device_token, expires_at]
                properties:
                  device_token: { type: string }
                  expires_at: { type: string, format: date-time }
        default:
          $ref: '#/components/responses/Error'
  /hello:
    post:
      operationId: announceController
      tags: [Onboarding]
      summary: Controller announces itself
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/HelloRequest' }
      responses:
        '200':
          description: Hello accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HelloResponse' }
        default:
          $ref: '#/components/responses/Error'
  /controllers/claim:
    post:
      operationId: claimController
      tags: [Onboarding]
      summary: Claim a controller
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ControllerClaimRequest' }
      responses:
        '201':
          description: Claimed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ControllerClaimResponse' }
        default:
          $ref: '#/components/responses/Error'
  /controllers/{controller_id}/token-exchange:
    post:
      operationId: exchangeControllerToken
      tags: [Onboarding]
      summary: Exchange claim_code for device_token
      security: []
      parameters:
        - $ref: '#/components/parameters/ControllerIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TokenExchangeRequest' }
      responses:
        '201':
          description: Token issued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenExchangeResponse' }
        '200':
          description: Idempotent replay
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenExchangeResponse' }
        default:
          $ref: '#/components/responses/Error'
  /controllers/by-name/{device_name}/config:
    get:
      operationId: getConfigByDeviceName
      tags: [Config]
      summary: Fetch config by device_name
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/DeviceNameParam'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Config payload
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConfigPayload' }
        '304':
          description: Not Modified
        default:
          $ref: '#/components/responses/Error'
  /controllers/{controller_id}/plan:
    get:
      operationId: getPlanByControllerId
      tags: [Plan]
      summary: Fetch plan
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/ControllerIdParam'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Plan payload
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlanPayload' }
        '304':
          description: Not Modified
        default:
          $ref: '#/components/responses/Error'
  /controllers/me/config:
    get:
      operationId: getMyConfig
      tags: [Config]
      summary: Fetch config for authenticated device
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Configuration payload
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConfigPayload' }
        '304':
          description: Not Modified
        default:
          $ref: '#/components/responses/Error'
  /controllers/me/plan:
    get:
      operationId: getMyPlan
      tags: [Plan]
      summary: Fetch plan for authenticated device
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Plan payload
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlanPayload' }
        '304':
          description: Not Modified
        default:
          $ref: '#/components/responses/Error'
  /greenhouses/{id}/config/publish:
    post:
      operationId: publishGreenhouseConfig
      tags: [Config]
      summary: Publish config snapshot
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/GreenhouseIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dry_run: { type: boolean, default: false }
      responses:
        '201':
          description: Published config
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConfigPublishResult' }
        '200':
          description: Dry-run preview
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConfigPublishResult' }
        default:
          $ref: '#/components/responses/Error'
  /greenhouses/{id}/config/diff:
    get:
      operationId: getGreenhouseConfigDiff
      tags: [Config]
      summary: Diff current vs last published
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/GreenhouseIdParam'
      responses:
        '200':
          description: JSON diff
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConfigDiff' }
        default:
          $ref: '#/components/responses/Error'
  /telemetry/sensors:
    post:
      operationId: ingestSensorTelemetry
      tags: [Telemetry]
      summary: Ingest sensor readings
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TelemetrySensors' }
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IngestResult' }
        default:
          $ref: '#/components/responses/Error'
  /telemetry/actuators:
    post:
      operationId: ingestActuatorTelemetry
      tags: [Telemetry]
      summary: Ingest actuator events
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TelemetryActuators' }
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IngestResult' }
        default:
          $ref: '#/components/responses/Error'
  /telemetry/status:
    post:
      operationId: ingestStatusTelemetry
      tags: [Telemetry]
      summary: Ingest status frames
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TelemetryStatus' }
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IngestResult' }
        default:
          $ref: '#/components/responses/Error'
  /telemetry/inputs:
    post:
      operationId: ingestInputTelemetry
      tags: [Telemetry]
      summary: Ingest input events
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TelemetryInputs' }
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IngestResult' }
        default:
          $ref: '#/components/responses/Error'
  /telemetry/batch:
    post:
      operationId: ingestTelemetryBatch
      tags: [Telemetry]
      summary: Ingest mixed telemetry batch
      security:
        - DeviceToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TelemetryBatch' }
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IngestResult' }
        default:
          $ref: '#/components/responses/Error'
  /greenhouses:
    get:
      operationId: listGreenhouses
      tags: [CRUD]
      summary: List greenhouses
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List with pagination
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GreenhouseList' }
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createGreenhouse
      tags: [CRUD]
      summary: Create greenhouse
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GreenhouseCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Greenhouse' }
        default:
          $ref: '#/components/responses/Error'
  /greenhouses/{id}:
    get:
      operationId: getGreenhouse
      tags: [CRUD]
      summary: Get greenhouse
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/GreenhouseIdParam'
      responses:
        '200':
          description: Greenhouse details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Greenhouse' }
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateGreenhouse
      tags: [CRUD]
      summary: Update greenhouse
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/GreenhouseIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GreenhouseUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Greenhouse' }
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: deleteGreenhouse
      tags: [CRUD]
      summary: Delete greenhouse
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/GreenhouseIdParam'
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Error'
  /zones:
    get:
      operationId: listZones
      tags: [CRUD]
      summary: List zones
      security:
        - UserJWT: []
      parameters:
        - name: greenhouse_id
          in: query
          schema: { type: string, format: uuid }
        - name: is_active
          in: query
          schema: { type: boolean }
        - name: sort
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneList' }
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createZone
      tags: [CRUD]
      summary: Create zone
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Zone' }
        default:
          $ref: '#/components/responses/Error'
  /zones/{id}:
    get:
      operationId: getZone
      tags: [CRUD]
      summary: Get zone
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ZoneIdParam'
      responses:
        '200':
          description: Zone details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Zone' }
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateZone
      tags: [CRUD]
      summary: Update zone
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ZoneIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Zone' }
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: deleteZone
      tags: [CRUD]
      summary: Delete zone
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ZoneIdParam'
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Error'
  /crops:
    get:
      operationId: listCrops
      tags: [CRUD]
      summary: List crops
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CropList' }
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createCrop
      tags: [CRUD]
      summary: Create crop
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CropCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Crop' }
        default:
          $ref: '#/components/responses/Error'
  /crops/{id}:
    get:
      operationId: getCrop
      tags: [CRUD]
      summary: Get crop
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/CropIdParam'
      responses:
        '200':
          description: Crop details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Crop' }
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateCrop
      tags: [CRUD]
      summary: Update crop
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/CropIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CropUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Crop' }
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: deleteCrop
      tags: [CRUD]
      summary: Delete crop
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/CropIdParam'
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Error'
  /zone-crops:
    get:
      operationId: listZoneCrops
      tags: [CRUD]
      summary: List zone crops
      security:
        - UserJWT: []
      parameters:
        - name: zone_id
          in: query
          schema: { type: string, format: uuid }
        - name: crop_id
          in: query
          schema: { type: string, format: uuid }
        - name: is_active
          in: query
          schema: { type: boolean }
        - name: sort
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCropList' }
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createZoneCrop
      tags: [CRUD]
      summary: Create zone crop
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneCropCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCrop' }
        default:
          $ref: '#/components/responses/Error'
  /zone-crops/{id}:
    get:
      operationId: getZoneCrop
      tags: [CRUD]
      summary: Get zone crop
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ZoneCropIdParam'
      responses:
        '200':
          description: Zone crop details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCrop' }
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateZoneCrop
      tags: [CRUD]
      summary: Update zone crop
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ZoneCropIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneCropUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCrop' }
        default:
          $ref: '#/components/responses/Error'
  /observations:
    get:
      operationId: listObservations
      tags: [CRUD]
      summary: List observations
      security:
        - UserJWT: []
      parameters:
        - name: zone_crop_id
          in: query
          schema: { type: string, format: uuid }
        - name: zone_id
          in: query
          schema: { type: string, format: uuid }
        - name: observation_type
          in: query
          schema: { type: string }
        - name: sort
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCropObservationList' }
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createObservation
      tags: [CRUD]
      summary: Add observation
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneCropObservationCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCropObservation' }
        default:
          $ref: '#/components/responses/Error'
  /observations/{id}:
    patch:
      operationId: updateObservation
      tags: [CRUD]
      summary: Update observation
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ObservationIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneCropObservationUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ZoneCropObservation' }
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: deleteObservation
      tags: [CRUD]
      summary: Delete observation
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ObservationIdParam'
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Error'
  /observations/{id}/upload-url:
    post:
      operationId: generateObservationUploadUrl
      tags: [CRUD]
      summary: Generate upload URL
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ObservationIdParam'
      responses:
        '200':
          description: Upload URL
          content:
            application/json:
              schema:
                type: object
                required: [upload_url, expires_in_s]
                properties:
                  upload_url: { type: string, format: uri }
                  expires_in_s: { type: integer }
        default:
          $ref: '#/components/responses/Error'
  /controllers:
    get:
      operationId: listControllers
      tags: [CRUD]
      summary: List controllers
      security:
        - UserJWT: []
      parameters:
        - name: greenhouse_id
          in: query
          schema: { type: string, format: uuid }
        - name: is_climate_controller
          in: query
          schema: { type: boolean }
        - name: sort
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ControllerList' }
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createController
      tags: [CRUD]
      summary: Create controller
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ControllerCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Controller' }
        default:
          $ref: '#/components/responses/Error'
  /controllers/{controller_id}:
    get:
      operationId: getController
      tags: [CRUD]
      summary: Get controller
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ControllerIdParam'
      responses:
        '200':
          description: Controller details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Controller' }
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateController
      tags: [CRUD]
      summary: Update controller
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ControllerIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ControllerUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Controller' }
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: deleteController
      tags: [CRUD]
      summary: Delete controller
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ControllerIdParam'
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Error'
  /sensors:
    get:
      operationId: listSensors
      tags: [CRUD]
      summary: List sensors
      security:
        - UserJWT: []
      parameters:
        - name: kind
          in: query
          schema: { $ref: '#/components/schemas/SensorKind' }
        - name: controller_id
          in: query
          schema: { type: string, format: uuid }
        - name: greenhouse_id
          in: query
          schema: { type: string, format: uuid }
        - name: sort
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SensorList' }
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createSensor
      tags: [CRUD]
      summary: Create sensor
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SensorCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Sensor' }
        default:
          $ref: '#/components/responses/Error'
  /sensors/{id}:
    get:
      operationId: getSensor
      tags: [CRUD]
      summary: Get sensor
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/SensorIdParam'
      responses:
        '200':
          description: Sensor details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Sensor' }
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateSensor
      tags: [CRUD]
      summary: Update sensor
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/SensorIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SensorUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Sensor' }
        default:
          $ref: '#/components/responses/Error'
  /sensor-zone-maps:
    post:
      operationId: createSensorZoneMap
      tags: [CRUD]
      summary: Map sensor to zone
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SensorZoneMapCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SensorZoneMap' }
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: deleteSensorZoneMap
      tags: [CRUD]
      summary: Unmap sensor from zone
      security:
        - UserJWT: []
      parameters:
        - name: sensor_id
          in: query
          schema: { type: string, format: uuid }
          required: true
        - name: zone_id
          in: query
          schema: { type: string, format: uuid }
          required: true
        - name: kind
          in: query
          schema: { $ref: '#/components/schemas/SensorKind' }
          required: true
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Error'
  /actuators:
    get:
      operationId: listActuators
      tags: [CRUD]
      summary: List actuators
      security:
        - UserJWT: []
      parameters:
        - name: controller_id
          in: query
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: List
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActuatorList' }
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createActuator
      tags: [CRUD]
      summary: Create actuator
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActuatorCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Actuator' }
        default:
          $ref: '#/components/responses/Error'
  /actuators/{id}:
    get:
      operationId: getActuator
      tags: [CRUD]
      summary: Get actuator
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ActuatorIdParam'
      responses:
        '200':
          description: Actuator details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Actuator' }
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateActuator
      tags: [CRUD]
      summary: Update actuator
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ActuatorIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActuatorUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Actuator' }
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: deleteActuator
      tags: [CRUD]
      summary: Delete actuator
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/ActuatorIdParam'
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Error'
  /fan-groups:
    get:
      operationId: listFanGroups
      tags: [CRUD]
      summary: List fan groups
      security:
        - UserJWT: []
      parameters:
        - name: controller_id
          in: query
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: List
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FanGroupList' }
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createFanGroup
      tags: [CRUD]
      summary: Create fan group
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FanGroupCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FanGroup' }
        default:
          $ref: '#/components/responses/Error'
  /fan-groups/{id}/members:
    post:
      operationId: addFanGroupMember
      tags: [CRUD]
      summary: Add member to fan group
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/FanGroupIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FanGroupMemberCreate' }
      responses:
        '201':
          description: Added
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FanGroupMember' }
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: removeFanGroupMember
      tags: [CRUD]
      summary: Remove member from fan group
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/FanGroupIdParam'
        - name: actuator_id
          in: query
          schema: { type: string, format: uuid }
          required: true
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Error'
  /fan-groups/{id}:
    get:
      operationId: getFanGroup
      tags: [CRUD]
      summary: Get fan group
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/FanGroupIdParam'
      responses:
        '200':
          description: Fan group details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FanGroup' }
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: deleteFanGroup
      tags: [CRUD]
      summary: Delete fan group
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/FanGroupIdParam'
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Error'
  /buttons:
    get:
      operationId: listButtons
      tags: [CRUD]
      summary: List buttons
      security:
        - UserJWT: []
      parameters:
        - name: controller_id
          in: query
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: List
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ControllerButtonList' }
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createButton
      tags: [CRUD]
      summary: Create button
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ControllerButtonCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ControllerButton' }
        default:
          $ref: '#/components/responses/Error'
  /buttons/{id}:
    get:
      operationId: getButton
      tags: [CRUD]
      summary: Get button
      security:
        - UserJWT: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Button details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ControllerButton' }
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateButton
      tags: [CRUD]
      summary: Update button
      security:
        - UserJWT: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ControllerButtonUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ControllerButton' }
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: deleteButton
      tags: [CRUD]
      summary: Delete button
      security:
        - UserJWT: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Error'
  /state-machine-rows:
    get:
      operationId: listStateMachineRows
      tags: [CRUD]
      summary: List state machine rows
      security:
        - UserJWT: []
      parameters:
        - name: greenhouse_id
          in: query
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: List
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StateMachineRowList' }
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createStateMachineRow
      tags: [CRUD]
      summary: Create state machine row
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StateMachineRowCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StateMachineRow' }
        default:
          $ref: '#/components/responses/Error'
  /state-machine-rows/{id}:
    get:
      operationId: getStateMachineRow
      tags: [CRUD]
      summary: Get state machine row
      security:
        - UserJWT: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Row details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StateMachineRow' }
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: updateStateMachineRow
      tags: [CRUD]
      summary: Update state machine row
      security:
        - UserJWT: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StateMachineRowUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StateMachineRow' }
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: deleteStateMachineRow
      tags: [CRUD]
      summary: Delete state machine row
      security:
        - UserJWT: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Error'
  /state-machine-fallback/{id}:
    put:
      operationId: setStateMachineFallback
      tags: [CRUD]
      summary: Set fallback configuration
      security:
        - UserJWT: []
      parameters:
        - $ref: '#/components/parameters/GreenhouseIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StateMachineFallbackUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StateMachineFallback' }
        default:
          $ref: '#/components/responses/Error'
  /plans:
    get:
      operationId: listPlans
      tags: [Plan]
      summary: List plans
      security:
        - UserJWT: []
      parameters:
        - name: greenhouse_id
          in: query
          schema: { type: string, format: uuid }
          required: true
        - name: active
          in: query
          schema: { type: boolean }
        - name: sort
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: List
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlanList' }
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createPlan
      tags: [Plan]
      summary: Create plan
      security:
        - UserJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PlanCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Plan' }
        default:
          $ref: '#/components/responses/Error'
  /health:
    get:
      operationId: getHealthStatus
      tags: [Meta]
      summary: Health check
      security: []
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  timestamp: { type: string, format: date-time }
                  version: { type: string }
        default:
          $ref: '#/components/responses/Error'
  /meta/sensor-kinds:
    get:
      operationId: getSensorKinds
      tags: [Meta]
      summary: Get sensor kinds
      security: []
      responses:
        '200':
          description: List
          content:
            application/json:
              schema:
                type: object
                properties:
                  sensor_kinds: { type: array, items: { $ref: '#/components/schemas/SensorKind' } }
        default:
          $ref: '#/components/responses/Error'
  /meta/actuator-kinds:
    get:
      operationId: getActuatorKinds
      tags: [Meta]
      summary: Get actuator kinds
      security: []
      responses:
        '200':
          description: List
          content:
            application/json:
              schema:
                type: object
                properties:
                  actuator_kinds: { type: array, items: { $ref: '#/components/schemas/ActuatorKind' } }
        default:
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    UserJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
    DeviceToken:
      type: apiKey
      in: header
      name: X-Device-Token
  parameters:
    IfNoneMatch:
      in: header
      name: If-None-Match
      schema: { type: string }
    GreenhouseIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    ZoneIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    CropIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    ZoneCropIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    ObservationIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    ControllerIdParam:
      in: path
      name: controller_id
      required: true
      schema: { type: string, format: uuid }
    ActuatorIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    SensorIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    FanGroupIdParam:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    DeviceNameParam:
      in: path
      name: device_name
      required: true
      schema: { type: string }
    PageParam:
      in: query
      name: page
      schema: { type: integer, default: 1 }
    PageSizeParam:
      in: query
      name: page_size
      schema: { type: integer, default: 50 }
    CSRFTokenParam:
      in: header
      name: X-CSRF-Token
      schema: { type: string }
    IdempotencyKeyParam:
      in: header
      name: Idempotency-Key
      schema: { type: string }
  responses:
    Error:
      description: Error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
  schemas:
    ErrorCode:
      type: string
      enum:
        - E400_BAD_REQUEST
        - E401_UNAUTHORIZED
        - E403_FORBIDDEN
        - E404_NOT_FOUND
        - E409_CONFLICT
        - E412_PRECONDITION_FAILED
        - E422_UNPROCESSABLE
        - E429_TOO_MANY_REQUESTS
        - E500_INTERNAL
        - E503_SERVICE_UNAVAILABLE
    LocationEnum:
      type: string
      enum: [N, NE, E, SE, S, SW, W, NW]
    SensorKind:
      type: string
      enum: [temperature, humidity, vpd, co2, light, soil_moisture, water_flow, water_total, dew_point, absolute_humidity, enthalpy_delta, air_pressure, kwh, gas_consumption, ppfd, wind_speed, rainfall, power]
    SensorScope:
      type: string
      enum: [zone, greenhouse, external]
    ActuatorKind:
      type: string
      enum: [fan, heater, vent, fogger, irrigation_valve, fertilizer_valve, pump, light]
    FailSafeState:
      type: string
      enum: [on, off]
    ButtonKind:
      type: string
      enum: [cool, heat, humid]
    ErrorResponse:
      type: object
      required: [error_code, message, timestamp, request_id]
      properties:
        error_code: { $ref: '#/components/schemas/ErrorCode' }
        message: { type: string }
        timestamp: { type: string, format: date-time }
        request_id: { type: string }
        details: { type: object }
    UserRegisterRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string }
        password: { type: string }
        full_name: { type: [string, "null"] }
    UserRegisterResponse:
      type: object
      required: [user, access_token]
      properties:
        user:
          type: object
          required: [id, email, created_at]
          properties:
            id: { type: string, format: uuid }
            email: { type: string }
            full_name: { type: [string, "null"] }
            created_at: { type: string, format: date-time }
        access_token: { type: string }
    UserLoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string }
        password: { type: string }
    UserLoginResponse:
      type: object
      required: [access_token, token_type, expires_in]
      properties:
        access_token: { type: string }
        token_type: { type: string }
        expires_in: { type: integer }
    HelloRequest:
      type: object
      required: [device_name, claim_code, hardware_profile, firmware, ts_utc]
      properties:
        device_name: { type: string }
        claim_code: { type: string }
        hardware_profile: { type: string }
        firmware: { type: string }
        ts_utc: { type: string, format: date-time }
    HelloResponse:
      type: object
      required: [status]
      properties:
        status: { type: string, enum: [pending, claimed] }
        controller_uuid: { type: [string, "null"], format: uuid }
        greenhouse_id: { type: [string, "null"], format: uuid }
        retry_after_s: { type: integer }
        message: { type: string }
    TokenExchangeRequest:
      type: object
      required: [device_name, claim_code]
      properties:
        device_name: { type: string }
        claim_code: { type: string }
    TokenExchangeResponse:
      type: object
      required: [device_token, config_etag, plan_etag, expires_at]
      properties:
        device_token: { type: string }
        config_etag: { type: string }
        plan_etag: { type: string }
        expires_at: { type: string, format: date-time }
    ControllerClaimRequest:
      type: object
      required: [device_name, claim_code, greenhouse_id]
      properties:
        device_name: { type: string }
        claim_code: { type: string }
        greenhouse_id: { type: string, format: uuid }
    ControllerClaimResponse:
      type: object
      required: [controller, device_token, expires_at]
      properties:
        controller: { $ref: '#/components/schemas/Controller' }
        device_token: { type: string }
        expires_at: { type: string, format: date-time }
    Paginated:
      type: object
      required: [data, page, page_size, total]
      properties:
        data: { type: array }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
    Greenhouse:
      type: object
      required: [id, title, is_active, min_temp_c, max_temp_c, min_vpd_kpa, max_vpd_kpa]
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        description: { type: [string, "null"] }
        is_active: { type: boolean }
        latitude: { type: [number, "null"] }
        longitude: { type: [number, "null"] }
        min_temp_c: { type: number }
        max_temp_c: { type: number }
        min_vpd_kpa: { type: number }
        max_vpd_kpa: { type: number }
        enthalpy_open_kjkg: { type: number }
        enthalpy_close_kjkg: { type: number }
        site_pressure_hpa: { type: number }
        context_text: { type: [string, "null"] }
    GreenhouseCreate:
      type: object
      required: [title]
      properties:
        title: { type: string }
        description: { type: [string, "null"] }
        is_active: { type: boolean }
        latitude: { type: [number, "null"] }
        longitude: { type: [number, "null"] }
        min_temp_c: { type: number }
        max_temp_c: { type: number }
        min_vpd_kpa: { type: number }
        max_vpd_kpa: { type: number }
        enthalpy_open_kjkg: { type: number }
        enthalpy_close_kjkg: { type: number }
        site_pressure_hpa: { type: number }
        context_text: { type: [string, "null"] }
    GreenhouseUpdate:
      type: object
      properties:
        title: { type: string }
        description: { type: [string, "null"] }
        is_active: { type: boolean }
        latitude: { type: [number, "null"] }
        longitude: { type: [number, "null"] }
        min_temp_c: { type: number }
        max_temp_c: { type: number }
        min_vpd_kpa: { type: number }
        max_vpd_kpa: { type: number }
        enthalpy_open_kjkg: { type: number }
        enthalpy_close_kjkg: { type: number }
        site_pressure_hpa: { type: number }
        context_text: { type: [string, "null"] }
    GreenhouseList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Greenhouse' } }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
    Zone:
      type: object
      required: [id, greenhouse_id, zone_number, location]
      properties:
        id: { type: string, format: uuid }
        greenhouse_id: { type: string, format: uuid }
        zone_number: { type: integer }
        location: { $ref: '#/components/schemas/LocationEnum' }
        context_text: { type: [string, "null"] }
    ZoneCreate:
      type: object
      required: [greenhouse_id, zone_number, location]
      properties:
        greenhouse_id: { type: string, format: uuid }
        zone_number: { type: integer }
        location: { $ref: '#/components/schemas/LocationEnum' }
        context_text: { type: [string, "null"] }
    ZoneUpdate:
      type: object
      properties:
        zone_number: { type: integer }
        location: { $ref: '#/components/schemas/LocationEnum' }
        context_text: { type: [string, "null"] }
    ZoneList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Zone' } }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
    Crop:
      type: object
      required: [id, name]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: [string, "null"] }
        expected_yield_per_sqm: { type: [number, "null"] }
        growing_days: { type: [integer, "null"] }
        recipe: { type: object }
    CropCreate:
      type: object
      required: [name]
      properties:
        name: { type: string }
        description: { type: [string, "null"] }
        expected_yield_per_sqm: { type: [number, "null"] }
        growing_days: { type: [integer, "null"] }
        recipe: { type: object }
    CropUpdate:
      type: object
      properties:
        name: { type: string }
        description: { type: [string, "null"] }
        expected_yield_per_sqm: { type: [number, "null"] }
        growing_days: { type: [integer, "null"] }
        recipe: { type: object }
    CropList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Crop' } }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
    ZoneCrop:
      type: object
      required: [id, zone_id, crop_id, is_active, start_date]
      properties:
        id: { type: string, format: uuid }
        zone_id: { type: string, format: uuid }
        crop_id: { type: string, format: uuid }
        start_date: { type: string, format: date-time }
        end_date: { type: [string, "null"], format: date-time }
        is_active: { type: boolean }
        final_yield: { type: [number, "null"] }
        area_sqm: { type: [number, "null"] }
    ZoneCropCreate:
      type: object
      required: [zone_id, crop_id, start_date]
      properties:
        zone_id: { type: string, format: uuid }
        crop_id: { type: string, format: uuid }
        start_date: { type: string, format: date-time }
        area_sqm: { type: [number, "null"] }
    ZoneCropUpdate:
      type: object
      properties:
        end_date: { type: [string, "null"], format: date-time }
        is_active: { type: boolean }
        final_yield: { type: [number, "null"] }
        area_sqm: { type: [number, "null"] }
    ZoneCropList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/ZoneCrop' } }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
    ZoneCropObservation:
      type: object
      required: [id, zone_crop_id, observed_at]
      properties:
        id: { type: string, format: uuid }
        zone_crop_id: { type: string, format: uuid }
        observed_at: { type: string, format: date-time }
        notes: { type: [string, "null"] }
        image_url: { type: [string, "null"] }
        height_cm: { type: [number, "null"] }
        health_score: { type: [integer, "null"] }
    ZoneCropObservationCreate:
      type: object
      required: [zone_crop_id, observed_at]
      properties:
        zone_crop_id: { type: string, format: uuid }
        observed_at: { type: string, format: date-time }
        notes: { type: [string, "null"] }
        image_url: { type: [string, "null"] }
        height_cm: { type: [number, "null"] }
        health_score: { type: [integer, "null"] }
    ZoneCropObservationUpdate:
      type: object
      properties:
        observed_at: { type: string, format: date-time }
        notes: { type: [string, "null"] }
        image_url: { type: [string, "null"] }
        height_cm: { type: [number, "null"] }
        health_score: { type: [integer, "null"] }
    ZoneCropObservationList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/ZoneCropObservation' } }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
    Controller:
      type: object
      required: [id, greenhouse_id, device_name, is_climate_controller]
      properties:
        id: { type: string, format: uuid }
        greenhouse_id: { type: string, format: uuid }
        label: { type: [string, "null"] }
        model: { type: [string, "null"] }
        device_name: { type: string }
        is_climate_controller: { type: boolean }
        fw_version: { type: [string, "null"] }
        hw_version: { type: [string, "null"] }
        last_seen: { type: [string, "null"], format: date-time }
    ControllerCreate:
      type: object
      required: [greenhouse_id, device_name]
      properties:
        greenhouse_id: { type: string, format: uuid }
        label: { type: [string, "null"] }
        model: { type: [string, "null"] }
        device_name: { type: string }
        is_climate_controller: { type: boolean }
        fw_version: { type: [string, "null"] }
        hw_version: { type: [string, "null"] }
    ControllerUpdate:
      type: object
      properties:
        label: { type: [string, "null"] }
        model: { type: [string, "null"] }
        is_climate_controller: { type: boolean }
        fw_version: { type: [string, "null"] }
        hw_version: { type: [string, "null"] }
    ControllerList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Controller' } }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
    Sensor:
      type: object
      required: [id, controller_id, name, kind, scope]
      properties:
        id: { type: string, format: uuid }
        controller_id: { type: string, format: uuid }
        name: { type: string }
        kind: { $ref: '#/components/schemas/SensorKind' }
        scope: { $ref: '#/components/schemas/SensorScope' }
        include_in_climate_loop: { type: boolean }
        modbus_slave_id: { type: [integer, "null"] }
        modbus_reg: { type: [integer, "null"] }
        value_type: { type: [string, "null"] }
        scale_factor: { type: number }
        offset: { type: number }
        poll_interval_s: { type: integer }
    SensorCreate:
      type: object
      required: [controller_id, name, kind, scope]
      properties:
        controller_id: { type: string, format: uuid }
        name: { type: string }
        kind: { $ref: '#/components/schemas/SensorKind' }
        scope: { $ref: '#/components/schemas/SensorScope' }
        include_in_climate_loop: { type: boolean }
        modbus_slave_id: { type: [integer, "null"] }
        modbus_reg: { type: [integer, "null"] }
        value_type: { type: [string, "null"] }
        scale_factor: { type: number }
        offset: { type: number }
        poll_interval_s: { type: integer }
    SensorUpdate:
      type: object
      properties:
        name: { type: string }
        include_in_climate_loop: { type: boolean }
        modbus_slave_id: { type: [integer, "null"] }
        modbus_reg: { type: [integer, "null"] }
        scale_factor: { type: number }
        offset: { type: number }
        poll_interval_s: { type: integer }
    SensorList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Sensor' } }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
    SensorZoneMap:
      type: object
      required: [sensor_id, zone_id, kind]
      properties:
        sensor_id: { type: string, format: uuid }
        zone_id: { type: string, format: uuid }
        kind: { $ref: '#/components/schemas/SensorKind' }
    SensorZoneMapCreate:
      type: object
      required: [sensor_id, zone_id, kind]
      properties:
        sensor_id: { type: string, format: uuid }
        zone_id: { type: string, format: uuid }
        kind: { $ref: '#/components/schemas/SensorKind' }
    Actuator:
      type: object
      required: [id, controller_id, name, kind]
      properties:
        id: { type: string, format: uuid }
        controller_id: { type: string, format: uuid }
        name: { type: string }
        kind: { $ref: '#/components/schemas/ActuatorKind' }
        relay_channel: { type: [integer, "null"] }
        min_on_ms: { type: integer }
        min_off_ms: { type: integer }
        fail_safe_state: { $ref: '#/components/schemas/FailSafeState' }
        zone_id: { type: [string, "null"], format: uuid }
    ActuatorCreate:
      type: object
      required: [controller_id, name, kind]
      properties:
        controller_id: { type: string, format: uuid }
        name: { type: string }
        kind: { $ref: '#/components/schemas/ActuatorKind' }
        relay_channel: { type: [integer, "null"] }
        min_on_ms: { type: integer }
        min_off_ms: { type: integer }
        fail_safe_state: { $ref: '#/components/schemas/FailSafeState' }
        zone_id: { type: [string, "null"], format: uuid }
    ActuatorUpdate:
      type: object
      properties:
        name: { type: string }
        kind: { $ref: '#/components/schemas/ActuatorKind' }
        relay_channel: { type: [integer, "null"] }
        min_on_ms: { type: integer }
        min_off_ms: { type: integer }
        fail_safe_state: { $ref: '#/components/schemas/FailSafeState' }
        zone_id: { type: [string, "null"], format: uuid }
    ActuatorList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Actuator' } }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
    FanGroup:
      type: object
      required: [id, controller_id, name]
      properties:
        id: { type: string, format: uuid }
        controller_id: { type: string, format: uuid }
        name: { type: string }
    FanGroupCreate:
      type: object
      required: [controller_id, name]
      properties:
        controller_id: { type: string, format: uuid }
        name: { type: string }
    FanGroupMember:
      type: object
      required: [fan_group_id, actuator_id]
      properties:
        fan_group_id: { type: string, format: uuid }
        actuator_id: { type: string, format: uuid }
    FanGroupMemberCreate:
      type: object
      required: [fan_group_id, actuator_id]
      properties:
        fan_group_id: { type: string, format: uuid }
        actuator_id: { type: string, format: uuid }
    FanGroupList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/FanGroup' } }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
    ControllerButton:
      type: object
      required: [id, controller_id, button_kind, timeout_s]
      properties:
        id: { type: string, format: uuid }
        controller_id: { type: string, format: uuid }
        button_kind: { $ref: '#/components/schemas/ButtonKind' }
        target_temp_stage: { type: [integer, "null"] }
        target_humi_stage: { type: [integer, "null"] }
        timeout_s: { type: integer }
    ControllerButtonCreate:
      type: object
      required: [controller_id, button_kind, timeout_s]
      properties:
        controller_id: { type: string, format: uuid }
        button_kind: { $ref: '#/components/schemas/ButtonKind' }
        target_temp_stage: { type: [integer, "null"] }
        target_humi_stage: { type: [integer, "null"] }
        timeout_s: { type: integer }
    ControllerButtonUpdate:
      type: object
      properties:
        button_kind: { $ref: '#/components/schemas/ButtonKind' }
        target_temp_stage: { type: [integer, "null"] }
        target_humi_stage: { type: [integer, "null"] }
        timeout_s: { type: integer }
    ControllerButtonList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/ControllerButton' } }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
    StateMachineRow:
      type: object
      required: [id, greenhouse_id, temp_stage, humi_stage]
      properties:
        id: { type: string, format: uuid }
        greenhouse_id: { type: string, format: uuid }
        temp_stage: { type: [integer, "null"] }
        humi_stage: { type: [integer, "null"] }
        is_fallback: { type: boolean }
        must_on_actuators: { type: array, items: { type: string, format: uuid } }
        must_off_actuators: { type: array, items: { type: string, format: uuid } }
        must_on_fan_groups: { type: array, items: { type: object, properties: { fan_group_id: { type: string, format: uuid }, on_count: { type: integer } } } }
    StateMachineRowCreate:
      type: object
      required: [id, greenhouse_id, temp_stage, humi_stage]
      properties:
        id: { type: string, format: uuid }
        greenhouse_id: { type: string, format: uuid }
        temp_stage: { type: [integer, "null"] }
        humi_stage: { type: [integer, "null"] }
        is_fallback: { type: boolean }
        must_on_actuators: { type: array, items: { type: string, format: uuid } }
        must_off_actuators: { type: array, items: { type: string, format: uuid } }
        must_on_fan_groups: { type: array, items: { type: object, properties: { fan_group_id: { type: string, format: uuid }, on_count: { type: integer } } } }
    StateMachineRowUpdate:
      type: object
      properties:
        temp_stage: { type: [integer, "null"] }
        humi_stage: { type: [integer, "null"] }
        is_fallback: { type: boolean }
        must_on_actuators: { type: array, items: { type: string, format: uuid } }
        must_off_actuators: { type: array, items: { type: string, format: uuid } }
        must_on_fan_groups: { type: array, items: { type: object, properties: { fan_group_id: { type: string, format: uuid }, on_count: { type: integer } } } }
        must_off_fan_groups: { type: array, items: { type: string, format: uuid } }
    StateMachineRowList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/StateMachineRow' } }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
    StateMachineFallback:
      type: object
      required: [greenhouse_id, must_on_actuators, must_off_actuators]
      properties:
        greenhouse_id: { type: string, format: uuid }
        must_on_actuators: { type: array, items: { type: string, format: uuid } }
        must_off_actuators: { type: array, items: { type: string, format: uuid } }
        must_on_fan_groups: { type: array, items: { type: object, properties: { fan_group_id: { type: string, format: uuid }, on_count: { type: integer } } } }
    StateMachineFallbackUpdate:
      type: object
      properties:
        must_on_actuators: { type: array, items: { type: string, format: uuid } }
        must_off_actuators: { type: array, items: { type: string, format: uuid } }
        must_on_fan_groups: { type: array, items: { type: object, properties: { fan_group_id: { type: string, format: uuid }, on_count: { type: integer } } } }
    ConfigPayload:
      type: object
      required: [version, greenhouse, controllers, sensors, actuators, state_rules, baselines, rails]
      properties:
        version: { type: integer }
        generated_at: { type: string, format: date-time }
        greenhouse:
          type: object
          required: [id, title, min_temp_c, max_temp_c, min_vpd_kpa, max_vpd_kpa, enthalpy_open_kjkg, enthalpy_close_kjkg, site_pressure_hpa]
          properties:
            id: { type: string, format: uuid }
            title: { type: string }
            min_temp_c: { type: number }
            max_temp_c: { type: number }
            min_vpd_kpa: { type: number }
            max_vpd_kpa: { type: number }
            enthalpy_open_kjkg: { type: number }
            enthalpy_close_kjkg: { type: number }
            site_pressure_hpa: { type: number }
        baselines:
          type: object
          required: [temp_thresholds, vpd_thresholds, hysteresis]
          properties:
            temp_thresholds:
              type: object
              required: [minus3, minus2, minus1, zero, plus1, plus2, plus3]
              properties:
                minus3: { type: number }
                minus2: { type: number }
                minus1: { type: number }
                zero: { type: number }
                plus1: { type: number }
                plus2: { type: number }
                plus3: { type: number }
            vpd_thresholds:
              type: object
              required: [minus3, minus2, minus1, zero, plus1, plus2, plus3]
              properties:
                minus3: { type: number }
                minus2: { type: number }
                minus1: { type: number }
                zero: { type: number }
                plus1: { type: number }
                plus2: { type: number }
                plus3: { type: number }
            hysteresis:
              type: object
              properties:
                temp_c: { type: number }
                vpd_kpa: { type: number }
        rails:
          type: object
          required: [min_temp_c, max_temp_c, min_vpd_kpa, max_vpd_kpa]
          properties:
            min_temp_c: { type: number }
            max_temp_c: { type: number }
            min_vpd_kpa: { type: number }
            max_vpd_kpa: { type: number }
        controllers:
          type: array
          items:
            type: object
            required: [controller_id, device_name, is_climate_controller]
            properties:
              controller_id: { type: string, format: uuid }
              device_name: { type: string }
              is_climate_controller: { type: boolean }
        sensors:
          type: array
          items:
            type: object
            required: [sensor_id, controller_id, name, kind, scope, include_in_climate_loop]
            properties:
              sensor_id: { type: string, format: uuid }
              controller_id: { type: string, format: uuid }
              name: { type: string }
              kind: { $ref: '#/components/schemas/SensorKind' }
              scope: { $ref: '#/components/schemas/SensorScope' }
              include_in_climate_loop: { type: boolean }
              zone_ids: { type: array, items: { type: string, format: uuid } }
              poll_interval_s: { type: integer }
        actuators:
          type: array
          items:
            type: object
            required: [actuator_id, controller_id, name, kind]
            properties:
              actuator_id: { type: string, format: uuid }
              controller_id: { type: string, format: uuid }
              name: { type: string }
              kind: { $ref: '#/components/schemas/ActuatorKind' }
              relay_channel: { type: [integer, "null"] }
              min_on_ms: { type: integer }
              min_off_ms: { type: integer }
              zone_id: { type: [string, "null"], format: uuid }
        fan_groups:
          type: array
          items:
            type: object
            required: [fan_group_id, controller_id, name, members]
            properties:
              fan_group_id: { type: string, format: uuid }
              controller_id: { type: string, format: uuid }
              name: { type: string }
              members: { type: array, items: { type: object, properties: { actuator_id: { type: string, format: uuid } } } }
        buttons:
          type: array
          items: { $ref: '#/components/schemas/ControllerButton' }
        state_rules:
          type: object
          required: [grid, fallback]
          properties:
            grid:
              type: array
              items:
                type: object
                required: [temp_stage, humi_stage, must_on_actuators, must_off_actuators]
                properties:
                  temp_stage: { type: integer }
                  humi_stage: { type: integer }
                  must_on_actuators: { type: array, items: { type: string, format: uuid } }
                  must_off_actuators: { type: array, items: { type: string, format: uuid } }
                  must_on_fan_groups: { type: array, items: { type: object, properties: { fan_group_id: { type: string, format: uuid }, on_count: { type: integer } } } }
            fallback:
              type: object
              required: [must_on_actuators, must_off_actuators, must_on_fan_groups, is_fallback]
              properties:
                is_fallback: { type: boolean }
                must_on_actuators: { type: array, items: { type: string, format: uuid } }
                must_off_actuators: { type: array, items: { type: string, format: uuid } }
                must_on_fan_groups: { type: array, items: { type: object, properties: { fan_group_id: { type: string, format: uuid }, on_count: { type: integer } } } }
    ConfigPublishResult:
      type: object
      required: [published, version, errors, warnings, payload]
      properties:
        published: { type: boolean }
        version: { type: integer }
        errors: { type: array, items: { type: string } }
        warnings: { type: array, items: { type: string } }
        payload: { $ref: '#/components/schemas/ConfigPayload' }
    ConfigDiff:
      type: object
      properties:
        added: { type: array, items: { type: string } }
        removed: { type: array, items: { type: string } }
        changed: { type: array, items: { type: string } }
    Plan:
      type: object
      required: [id, version, greenhouse_id, is_active, effective_from, effective_to, created_at, payload]
      properties:
        id: { type: string, format: uuid }
        version: { type: integer }
        greenhouse_id: { type: string, format: uuid }
        is_active: { type: boolean }
        effective_from: { type: string, format: date-time }
        effective_to: { type: string, format: date-time }
        created_at: { type: string, format: date-time }
        payload: { $ref: '#/components/schemas/PlanPayload' }
    PlanCreate:
      type: object
      required: [greenhouse_id, effective_from, effective_to, payload]
      properties:
        greenhouse_id: { type: string, format: uuid }
        is_active: { type: boolean }
        effective_from: { type: string, format: date-time }
        effective_to: { type: string, format: date-time }
        payload: { $ref: '#/components/schemas/PlanPayload' }
    PlanList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Plan' } }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
    PlanPayload:
      type: object
      required: [version, greenhouse_id, effective_from, effective_to, setpoints]
      properties:
        version: { type: integer }
        greenhouse_id: { type: string, format: uuid }
        effective_from: { type: string, format: date-time }
        effective_to: { type: string, format: date-time }
        setpoints:
          type: array
          items:
            type: object
            required: [ts_utc, min_temp_c, max_temp_c, min_vpd_kpa, max_vpd_kpa]
            properties:
              ts_utc: { type: string, format: date-time }
              min_temp_c: { type: number }
              max_temp_c: { type: number }
              min_vpd_kpa: { type: number }
              max_vpd_kpa: { type: number }
              temp_stage_delta: { type: integer }
              humi_stage_delta: { type: integer }
              hysteresis_overrides: { type: object, properties: { temp_c: { type: number }, vpd_kpa: { type: number } } }
        irrigation:
          type: array
          items:
            type: object
            required: [ts_utc, actuator_id, duration_s]
            properties:
              ts_utc: { type: string, format: date-time }
              actuator_id: { type: string, format: uuid }
              zone_id: { type: [string, "null"], format: uuid }
              duration_s: { type: integer }
              min_soil_vwc: { type: [number, "null"] }
        fertilization:
          type: array
          items:
            type: object
            required: [ts_utc, actuator_id, duration_s]
            properties:
              ts_utc: { type: string, format: date-time }
              actuator_id: { type: string, format: uuid }
              zone_id: { type: [string, "null"], format: uuid }
              duration_s: { type: integer }
        lighting:
          type: array
          items:
            type: object
            required: [ts_utc, actuator_id, duration_s]
            properties:
              ts_utc: { type: string, format: date-time }
              actuator_id: { type: string, format: uuid }
              duration_s: { type: integer }
    TelemetrySensors:
      type: object
      required: [readings]
      properties:
        batch_id: { type: [string, "null"] }
        ts_utc: { type: [string, "null"], format: date-time }
        readings:
          type: array
          items:
            type: object
            required: [sensor_id, kind, value, ts_utc]
            properties:
              sensor_id: { type: string, format: uuid }
              kind: { $ref: '#/components/schemas/SensorKind' }
              value: { type: number }
              ts_utc: { type: string, format: date-time }
              scope: { $ref: '#/components/schemas/SensorScope' }
              zone_ids: { type: array, items: { type: string, format: uuid } }
    TelemetryActuators:
      type: object
      required: [events]
      properties:
        events:
          type: array
          items:
            type: object
            required: [actuator_id, ts_utc, state, reason]
            properties:
              actuator_id: { type: string, format: uuid }
              ts_utc: { type: string, format: date-time }
              state: { type: boolean }
              reason: { type: string }
    TelemetryStatus:
      type: object
      required: [ts_utc, temp_stage, humi_stage]
      properties:
        ts_utc: { type: string, format: date-time }
        temp_stage: { type: integer }
        humi_stage: { type: integer }
        avg_interior_temp_c: { type: [number, "null"] }
        avg_interior_rh_pct: { type: [number, "null"] }
        avg_interior_pressure_hpa: { type: [number, "null"] }
        avg_exterior_temp_c: { type: [number, "null"] }
        avg_exterior_rh_pct: { type: [number, "null"] }
        avg_exterior_pressure_hpa: { type: [number, "null"] }
        avg_vpd_kpa: { type: [number, "null"] }
        enthalpy_in_kj_per_kg: { type: [number, "null"] }
        enthalpy_out_kj_per_kg: { type: [number, "null"] }
        override_active: { type: boolean }
        plan_version: { type: [integer, "null"] }
        plan_stale: { type: boolean }
        offline_sensors: { type: array, items: { type: string, format: uuid } }
        fallback_active: { type: boolean }
        uptime_s: { type: [integer, "null"] }
        loop_ms: { type: [integer, "null"] }
        config_version: { type: [integer, "null"] }
    TelemetryInputs:
      type: object
      required: [inputs]
      properties:
        inputs:
          type: array
          items:
            type: object
            required: [button_kind, ts_utc, action]
            properties:
              button_kind: { $ref: '#/components/schemas/ButtonKind' }
              ts_utc: { type: string, format: date-time }
              action: { type: string, enum: [pressed, released] }
              latched: { type: boolean }
    TelemetryBatch:
      type: object
      properties:
        sensors: { $ref: '#/components/schemas/TelemetrySensors' }
        actuators: { $ref: '#/components/schemas/TelemetryActuators' }
        status: { $ref: '#/components/schemas/TelemetryStatus' }
        inputs: { $ref: '#/components/schemas/TelemetryInputs' }
    IngestResult:
      type: object
      properties:
        accepted: { type: integer }
        rejected: { type: integer }
        errors: { type: array, items: { $ref: '#/components/schemas/ErrorResponse' } }
```
